body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
  }

.backgroundImage {
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure it is behind other elements */
}
@keyframes ellipse1Animation {
    0% {
        left: 20.45%;
        right: -20.18%;
        top: -19.01%;
        bottom: 9.88%;
        filter: blur(139.146px);
    }
    33% {
        left: 121.79%;
        right: -202.87%;
        top: -36.48%;
        bottom: 51.6%;
        filter: blur(164.93px);
        transform: matrix(0.08, 1, -0.98, 0.18, 0, 0);
    }
    66% {
        left: 36.9%;
        right: -64.25%;
        top: -50.81%;
        bottom: 27.45%;
        filter: blur(163.653px);
        transform: matrix(0.86, 0.51, -0.24, 0.97, 0, 0);
    }
    100% {
        left: 20.45%;
        right: -20.18%;
        top: -19.01%;
        bottom: 9.88%;
        filter: blur(139.146px);
    }
}
@keyframes ellipse2Animation {
    0% {
        width: 1494.73px;
        height: 2300.26px;
        left: -979.43px;
        top: -1355.66px;
        filter: blur(114.921px);
    }
    33% {
        left: 17.46%;
        right: -57.33%;
        top: 31.35%;
        bottom: -45.94%;
        filter: blur(132.344px);
        transform: matrix(0.88, -0.47, 0.22, 0.98, 0, 0);
    }
    66% {
        left: -85.36%;
        right: -58.93%;
        top: 8.75%;
        bottom: -23.02%;
        filter: blur(125.464px);
        transform: matrix(0.07, -1, 0.99, 0.17, 0, 0);
    }
    100% {
        width: 1494.73px;
        height: 2300.26px;
        left: -979.43px;
        top: -1355.66px;
        filter: blur(114.921px);
    }
}
@keyframes ellipse3Animation {
    0% {
        width: 1494.79px;
        height: 2300.36px;
        left: -747.4px;
        top: -1150.18px;
        filter: blur(114.921px);
    }
    33% {
        left: 28.45%;
        right: -170.18%;
        top: -86.05%;
        bottom: 49.81%;
        filter: blur(132.344px);
        transform: matrix(0.33, 0.95, -0.78, 0.63, 0, 0);
    }
    66% {
        left: 14.46%;
        right: -117.3%;
        top: -94.59%;
        bottom: 44.82%;
        filter: blur(125.464px);
        transform: matrix(0.58, 0.81, -0.51, 0.86, 0, 0);
    }
    100% {
        width: 1494.79px;
        height: 2300.36px;
        left: -747.4px;
        top: -1150.18px;
        filter: blur(114.921px);
    }
}

.ellipse1 {
    position: absolute;
    left: 20.45%;
    right: -20.18%;
    top: -19.01%;
    bottom: 9.88%;
    background: conic-gradient(from -22.76deg at 50% 50%, #A1B8D8 0deg, #24ACFF 70.5deg, #13263E 162.37deg, #F8F5EE 233.62deg, #C0894F 310.5deg, #A1B8D8 360deg);
    filter: blur(139.146px);
    animation: ellipse1Animation 15s ease-in-out infinite;
    z-index: 1;
}

.ellipse2 {
    position: absolute;
    width: 1494.73px;
    height: 2300.26px;
    left: -979.43px;
    top: -1355.66px;
    background: conic-gradient(from 26.4deg at 50% 50%, #24ACFF 0deg, #115197 70.5deg, #C1934E 162.37deg, #E9DEBF 233.62deg, #C0894F 310.5deg, #24ACFF 360deg);
    mix-blend-mode: multiply;
    filter: blur(114.921px);
    animation: ellipse2Animation 15s ease-in-out infinite;
    z-index: 2 ;
}

.ellipse3 {
    position: absolute;
    width: 1494.79px;
    height: 2300.36px;
    left: -747.4px;
    top: -1150.18px;
    background: conic-gradient(from 106.97deg at 50% 50%, #283852 0deg, #0676EF 70.5deg, #599AD7 162.37deg, #CDAE77 233.62deg, #FBF8F1 310.5deg, #283852 360deg);
    mix-blend-mode: overlay;
    filter: blur(114.921px);
    animation: ellipse3Animation 15s ease-in-out infinite;
    z-index: 3 ;
}

  

  @keyframes noiseImageAnimation {
    0% {
      background-image: url('https://github.com/aventurescence/ProjectLucavi/blob/dev/assets/Noise-Animation.png?raw=true');
      background-size: cover;
    }
    33% {
      background-image: url('https://github.com/aventurescence/ProjectLucavi/blob/dev/assets/Noise-Animation2.png?raw=true');
      background-size: cover;
    }
    66% {
      background-image: url('https://github.com/aventurescence/ProjectLucavi/blob/dev/assets/Noise-Animation3.png?raw=true');
      background-size: cover;
    }
    100% {
        background-image: url('https://github.com/aventurescence/ProjectLucavi/blob/dev/assets/Noise-Animation.png?raw=true');
        background-size: cover;
    }
  }

.noiseImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
  animation: noiseImageAnimation 6s linear infinite; /* Smooth transition */
  z-index: 3; /* Ensure it is above the background image */
}

.vectorImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  fill: #ffffff;
  mix-blend-mode: difference ;
  z-index: 4; /* Ensure it is above the background and noise images */
}
